.card {
  .card-img img {
    height: 420px;
    // width: 300px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  .card-sku {
    font-size: $text-size-tiny;
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  .card-desc {
    display: flex;
    justify-content: space-between;
    font-family: $body-font-bold;
    font-size: $text-size-small;
    padding-bottom: 1rem;
  }
}
