.carousel-container {
  margin: 1.5rem 1rem;
  .car-header {
    padding: 0 200px 2rem;
    @include devices(mobile) {
      padding: 0 0 1rem;
      overflow-x: auto;
    }
    ul {
      display: flex;
      justify-content: space-around;
      @include devices(mobile) {
        justify-content: flex-start;
        width: max-content;
      }
      li {
        display: inline;
      }
      li a {
        font-family: $body-font-regular;
        font-size: $text-size-big;
        color: $gray;
        display: inline-block;
        position: relative;
        transition: $transition1;
        @include devices(mobile) {
          font-size: clamp(1rem, 3vh, $text-size-big);
          width: 100%;
          padding: 0 12px;
        }
        &.active {
          color: $darkGrey;
        }
        &:hover {
          transform: scale(1.15, 1.15);
        }
        &::after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: '';
          display: block;
          height: 1px;
          left: 50%;
          position: absolute;
          background: $gray;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

// .carousel {
//   display: flex;
//   justify-content: space-between;
//   gap: 1rem;
//   border: 3px solid goldenrod;
// }

.season-carousel {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap;
  img {
    object-fit: cover;
    // width: 300px;
    height: 500px;
    aspect-ratio: 9 / 16;
    @include devices(mobile) {
      height: 400px;
      aspect-ratio: 4 / 5;
    }
  }
}

.summer-img {
  margin: 4px;
  width: 100%;
  // img {
  // border: 1px solid goldenrod;
  // }
}
