@import '../abstracts/variables';

@font-face {
  font-family: 'Chivo';
  src: url(../fonts/Chivo-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chivo';
  src: url(../fonts/Chivo-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Chivo';
  src: url(../fonts/Chivo-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Chivo';
  src: url(../fonts/Chivo-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Jomhuria-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oi-regular';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Oi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'BowlbyOne';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/BowlbyOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'BowlbyOneSC';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/BowlbyOneSC-Regular.ttf) format('truetype');
}
