.fade-in {
  opacity: 0;
  transform: translateY(50%);
  transition: $transition3;
  &.appear {
    opacity: 1;
    transform: translateY(0);
  }
}

.from-left {
  transform: translateX(-50%);
  transition: $transition3;
  &.appear {
    transform: translateX(0);
  }
}
