@mixin scale-titles {
  font-family: $body-font-regular;
  font-size: $text-size-big;
  color: $gray;
  transition: $transition1;
  &.active {
    color: $darkGrey;
  }
  &:hover {
    transform: scale(1.15, 1.15);
  }
  &::after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $gray;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.footer {
  margin-top: 5rem;
  @include devices(mobile) {
    margin-top: 1rem;
  }
  .top-footer {
    padding: 2rem 1rem;
    @include devices(mobile) {
      padding: 1rem 1rem;
    }
    ul {
      display: flex;
      justify-content: space-between;
      .bottom-nav {
        @include scale-titles;
      }
      @include devices(mobile) {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid $gray;
    padding: 1.125rem 1rem;
    display: flex;
    justify-content: space-between;
    color: $gray;
    @include devices(mobile) {
      flex-direction: column-reverse;
      border-top: none;
      padding: 1.125rem 0;
      .left-footer {
        padding-top: 1rem;
        border-top: 1px solid $gray;
        display: flex;
        justify-content: center;
      }
    }
    .right-footer {
      ul {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        font-size: $text-size-small;
        transition: $transition3;
        .social:hover {
          color: $darkGrey;
        }
        @include devices(mobile) {
          padding: 1rem;
        }
      }
    }
  }
}
