.hero {
  margin: 0 1rem;
  // background-image: url('../../images/allef-vinicius--eKbU_bOF9g-unsplash.jpg');
  background-image: url('../../assets/images/allef-vinicius--eKbU_bOF9g-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.banner {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2.75rem 3.75rem;
  color: $white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  .left-banner {
    font-family: $body-font-bold;
    letter-spacing: 6px;
    font-size: $text-title-huge;
    .border-text {
      font-weight: lighter;
      -webkit-text-stroke: 2px $white;
      -webkit-text-fill-color: transparent;
    }
    h1 {
      font-weight: 400;
    }
  }
  .right-banner {
    width: 224px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
    font-family: $body-font-primary;
    font-size: $text-size-big;
  }
}
