.latest-banner {
  margin: 0 1rem 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../images/taylor-brandon-d-HOgxTgtZY-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 94vh;
  position: relative;
}

.banner-text {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 8rem;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  // .left-banner {
  font-family: $body-font-bold;
  letter-spacing: 6px;
  font-size: 112px;
  .border-text {
    font-weight: lighter;
    -webkit-text-stroke: 2px $white;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
}
