.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  padding: 2rem 1.125rem;
  font-family: $body-font-regular;
  ul {
    font-size: $text-size-medium;
    li a {
      display: inline-block;
      position: relative;
      transition: $transition1;
      &:hover {
        transform: scale(1.05, 1.05);
      }
      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        background: $darkGrey;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
  @include devices(mobile) {
    padding: 1rem 1.125rem;
    justify-content: center;
  }
}

.nav-left {
  width: 30%;
  padding: 4px;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      padding-right: 4.125rem;
    }
  }
  @include devices(mobile) {
    width: 34%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    ul {
      display: block;
      li {
        padding: 0.75rem 0.75rem;
      }
    }
  }
}
.nav-right {
  width: 30%;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      padding-left: 3.25rem;
    }
  }
  @include devices(mobile) {
    width: 36%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    background: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: right;
    ul {
      display: block;
      li {
        padding: 0.75rem 0.75rem;
      }
    }
  }
}

.title {
  font-family: 'Oi-regular';
  font-size: $text-size-large;
}

.show-menu {
  transform: translateY(0);
}
