.social-banner {
  margin-top: 200px;
  height: 100vh;
  background-color: $lightGray;
  display: grid;
  place-items: center;
  position: relative;
  .social-text {
    width: 50%;
    font-family: $body-font-bold;
    font-size: $text-title-large;
    text-align: center;
    @include devices(mobile) {
      width: 100%;
      font-size: clamp(2rem, 2vh, $text-title-large);
    }
  }
  .social-link a {
    display: flex;
    justify-content: center;
    font-family: $body-font-primary;
    font-size: $text-size-base;
    padding: 3rem;
    gap: 1rem;
    letter-spacing: -1px;
  }
}

.social-icon {
  width: $text-size-medium;
}

.social-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    '. a a . . . . . . . . b b . . .'
    '. . . . . . . . . . . . . . c c'
    'd d . . . . . . . . . . . . c c'
    'd d . . . . . . . . e e . . . .';
}

.social-img img {
  position: absolute;
  width: 250px;
  transition: $transition2;
  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.social-img img:nth-of-type(1) {
  // position: absolute;
  grid-area: a;
  width: 200px;
  object-fit: contain;
  top: -120px;
  left: 100px;
}
.social-img img:nth-of-type(2) {
  grid-area: b;
  height: 300px;
  object-fit: cover;
  top: -60px;
}
.social-img img:nth-of-type(3) {
  grid-area: c;
  width: 200px;
  height: 200px;
  object-fit: cover;
  top: 80px;
  @include devices(mobile) {
    display: none;
  }
}
.social-img img:nth-of-type(4) {
  grid-area: d;
  top: 54px;
  height: 260px;
  object-fit: cover;
}
.social-img img:nth-of-type(5) {
  grid-area: e;
  height: 300px;
  object-fit: cover;
  top: -24px;
}
