.social-banner {
  margin-top: 200px;
  height: 100vh;
  background-color: $lightGray;
  display: grid;
  place-items: center;
  position: relative;
  @include devices(mobile) {
    margin-top: 100px;
    height: 60vh;
  }
  .social-text {
    width: 50%;
    font-family: $body-font-bold;
    font-size: $text-title-large;
    text-align: center;
    @include devices(mobile) {
      width: 100%;
      font-size: clamp(2rem, 2vh, $text-title-large);
    }
  }
  .social-link a {
    display: flex;
    justify-content: center;
    font-family: $body-font-primary;
    font-size: $text-size-base;
    padding: 3rem;
    gap: 1rem;
    letter-spacing: -1px;
    @include devices(mobile) {
      padding: 1.5rem;
    }
  }
}

.social-icon {
  width: $text-size-medium;
}

.social-img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    'a a a . . . . . . . . b b . . .'
    '. . . . . . . . . . . . . . . c'
    'd d . . . . . . . . . . . . . c'
    'd d . . . . . . . . e e . . . .';
  @include devices(mobile) {
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'a . b b'
      '. . . .'
      '. . . .'
      'd . e e';
  }
}

.social-img img {
  position: absolute;
  width: 250px;
  transition: $transition2;
}

.social-img img:nth-of-type(1) {
  // position: absolute;
  grid-area: a;
  width: 200px;
  object-fit: contain;
  top: -120px;
  left: 100px;
  @include devices(mobile) {
    width: 100px;
    top: -40px;
    left: 1rem;
    place-self: end;
  }
}
.social-img img:nth-of-type(2) {
  grid-area: b;
  height: 300px;
  object-fit: cover;
  top: -100px;
  @include devices(mobile) {
    width: 75%;
    height: 150px;
    top: -30px;
    place-self: end;
  }
}
.social-img img:nth-of-type(3) {
  grid-area: c;
  width: 200px;
  height: 200px;
  object-fit: cover;
  top: 80px;
  place-self: end;
  @include devices(mobile) {
    display: none;
  }
}
.social-img img:nth-of-type(4) {
  grid-area: d;
  top: 54px;
  height: 260px;
  object-fit: cover;
  @include devices(mobile) {
    top: 0;
    width: 120%;
    height: 100%;
  }
}
.social-img img:nth-of-type(5) {
  grid-area: e;
  height: 260px;
  object-fit: cover;
  top: -24px;
  @include devices(mobile) {
    top: -24px;
    right: 1rem;
    width: 80%;
    height: 150px;
    place-self: end;
  }
}
